.customSearch {
    padding: 50px;
    text-align: center;
    justify-content: center;
}

.customSearch .customBtn {
    margin: 10px;
    background-color: black;
    border: solid 1px rgb(230, 159, 8);
    color: rgb(230, 159, 8);
    width: 300px;
}

.customSearch .customBtn:hover {
    background-color: red;
    border: solid 1px black;
    color: black;
}

.customSearch .customBtnFav {
    margin: 10px;
    background-color: rgb(230, 159, 8);
    border: solid 1px black;
    color: black;
    width: 300px;
}

.customSearch .customBtnFav:hover {
    background-color: red;
    border: solid 1px black;
    color: black;
}

.customSearch .customCard {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(230, 159, 8);
}

.customCB {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.customCB .card-title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1450px){
    .customCB .customBtn{
       width: 200px;
    }
    .customCB .customBtnFav{
        width: 200px;
     }
}

@media screen and (max-width: 1050px){
    .customCB .customBtn{
       width: 140px;
    }
    .customCB .customBtnFav{
        width: 140px;
     }
}
@media screen and (max-width: 767px){
    .customCB .customBtn{
       width: 200px;
    }
    .customCB .customBtnFav{
        width: 200px;
     }
}

@media screen and (max-width: 450px){
    .customSearch .customBtn {
        width: 200px;
    }
}

@media screen and (max-width: 350px){
    .customSearch .customBtn {
        width: 150px;
    }
    .customCB .customBtnFav{
        width: 150px;
     }
}